body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 1, 5rem;
}

.todo {
  width: 600px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
          box-shadow: 4px 4px 5px rgba(82, 82, 82, 0.4);
  border-radius: 5px;
  height: 100vh;
}

.header {
  border-radius: 5px 5px 0 0;
  background-color: #9dc5c3;
  background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);
}

.todo-input {
  width: 80%;
  margin-bottom: 10px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  color: #4f525c;
  background-color: whitesmoke;
}

.alert-info {
  margin-top: 20px;
  color: #0254a1;
}

.add-btn {
  border: none;
  border-radius: 5px;
  color: #0084ff;
  background-color: whitesmoke;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.add-btn:hover {
  color: #fff;
  background-color: #4f525c;
}

.todo-list h3 {
  font-size: 1, 1rem;
}

h3 {
  font-size: 1, 2rem;
}

.todo-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  background-color: whitesmoke;
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.tools button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.tools button:hover {
  background-color: #ddd;
}

.delete {
  color: tomato;
}

.popup-btn {
  display: inline-block;
  width: 30%;
  padding: 10px 22px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  color: #0254a1;
  background-color: whitesmoke;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.popup-input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #4f525c;
  background-color: whitesmoke;
}

.popup-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  padding: 10px;
}

small {
  font-size: 0.9rem;
}

.popup-info {
  margin-bottom: 20px;
  color: whitesmoke;
}

.popup h3 {
  padding: 20px;
  padding: 20px;
}

.popup {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 800px;
  color: whitesmoke;
  background-color: #4f525c;
  border-radius: 5px;
}

.completed {
  font-size: 12px;
  font-style: italic;
  color: #4f525c;
  text-decoration: line-through;
}

@media screen and (max-width: 600px) {
  .todo {
    width: 590px;
    position: relative;
  }
  .popup {
    width: 400px;
  }
  .popup .popup-btn {
    font-size: 10px;
  }
}

@media screen and (max-width: 550px) {
  .todo {
    width: 540px;
    position: relative;
  }
  .popup {
    width: 400px;
    margin-top: 300px;
  }
}

@media screen and (max-width: 500px) {
  .todo {
    width: 490px;
    position: relative;
  }
  .popup {
    width: 400px;
    margin-top: 300px;
  }
}

@media screen and (max-width: 450px) {
  .todo {
    width: 440px;
    position: relative;
  }
  .popup {
    width: 400px;
    margin-top: 300px;
  }
}

@media screen and (max-width: 400px) {
  .todo {
    width: 390px;
  }
  .popup {
    width: 350px;
    margin-top: 300px;
  }
}

@media screen and (max-width: 350px) {
  .todo {
    width: 340px;
  }
  .popup {
    width: 320px;
    margin-top: 300px;
  }
}

@media screen and (max-width: 300px) {
  .todo {
    width: 290px;
    position: relative;
  }
  .popup {
    width: 270px;
    margin-top: 300px;
  }
}
/*# sourceMappingURL=todo.css.map */